<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>À propos - Portfolio</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="style.css" />
</head>
<body class="w3-black">
  <nav class="header-nav">
    <h2>Mon Portfolio</h2>
    <ul>
      <li><a href="../index.html">Accueil</a></li>
      <li><a href="about.html" class="active">À propos</a></li>
      <li><a href="projets.html">Projets</a></li>
      <li><a href="competences.html">Compétences</a></li>
      <li><a href="experiences.html">Expériences</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <div class="w3-main" id="main">
    <div class="w3-container w3-padding-32">
      <h2 class="w3-text-white">À propos de moi</h2>
      <p class="w3-text-light-grey">Passionné d'informatique depuis le collège, j'ai décidé d'évoluer dans ce domaine en étudiant les réseaux, la télécommunication et la cybersécurité à l'IUT R&T de Sophia-Antipolis. C'est un milieu qui m'attire fortement, et je suis extrêmement motivé quant à l'idée d'en apprendre plus au fil de ma formation et ses expériences. Dans la vie de tous les jours, je compose et produit de la musique électronique avec Ableton Live et j'apprends l'ingénierie musicale, ce qui me permet d'expérimenter avec mon matériel de musique, afin de pouvoir exprimer ma créativité à travers mes compositions et mes projets musicaux. Également passionné d'automobile et d'horlogerie.</p>
      <p class="w3-text-light-grey">Passionate about IT since middle school, I decided to pursue a career in this field by studying networks, telecommunications, and cybersecurity at the IUT R&T in Sophia-Antipolis. It's an area that strongly attracts me, and I'm extremely motivated to learn more through my studies and experiences, as well as through the people I'll meet. In my everyday life, I compose and produce electronic music with Ableton Live and learn about audio engineering, which allows me to experiment with my music equipment and stay creative. I'm also a car and watches enthusiast.</p>
    </div>
  </div>

  <script src="../script.js"></script>
</body>
</html>
